/* board space */

.lists{
    background-size: cover;
    height: 100%;
}
/* scroll bar style */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.topBar{
    height: 7%;
}
.flexBox{
    display: grid;
    grid-template-columns: min-content 260px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 83%;
    padding: 20px 0 0 0;
}

.listsContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-y: hidden;
    width: fit-content;
    height: 100%;
    padding: 0 30px;
}
.list{
    max-width: 280px;
    min-width: 280px;
    min-height: 100px;
    height: fit-content;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    overflow-y: auto;
}
.addList{
    max-width: 260px;
    min-width: 260px;
    height: fit-content;
    border: 1px solid rgba(40, 40, 40, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
}
table.addAnotherListTable{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}
.addAnotherList{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.addSign{
    font-size: 30px;
    font-weight: bold;
}
div.addListForm{
    width: 100%;
    padding: 5px;
    display: none;
    box-sizing: border-box;
    border-radius: 10px;
}
input#listName{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
input#listName:focus{
    outline: none;
}
button#createList{
    padding: 5px 15px;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
}
img#closeCreateList{
    display: block;
    margin: 0 10px;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}
/** add card **/
.addCard{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
table.addAnotherCardTable{
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    padding: 0 10px;
}
.addAnotherCard{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.addSign-card{
    font-size: 26px;
    font-weight: bold;
}
div.addCardForm{
    display: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
input.cardName{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
input.cardName:focus{
    outline: none;
}
button.createCard{
    padding: 5px 15px;
    margin-top: 5px;
    font-size: 13px;
    cursor: pointer;
}
img.closeCreateCard{
    display: block;
    width: 20px;
    margin: 0 10px;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}
div.listName{
    margin: 10px;
    padding: 2px 5px;
    font-size: 17px;
    font-family: "Comic Sans MS";
}
.cardsContainer{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    max-height: 450px;
    overflow-y: auto;
}
p.boardNameTopBar{
    height: 100%;
    width: fit-content;
    font-size: 26px;
    margin: 0;
    padding: 2px 50px;
    display: inline-block;
}
.invisible{
    visibility: hidden;
}
.card{
    min-height: 50px;
    font-size: 14px;
    text-align: left;
    padding: 10px 10px 3px 30px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/*
================ cards content style ===============================
 */

div.cardNameInput{
    font-size: 16px;
    font-family: "Arimo", sans-serif;
}

div.cardContent{
    font-size: 16px;
    padding: 5px 3px;
    width: 100%;
}

div.cardContent span.rightEntityEdit{
    float: right;
    display: inline-block;
    visibility: hidden;
}
div.cardSetting{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 0;
    height: 25px;
    border-radius: 30px 0 0 30px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    transition: width 0.5s;
    visibility: hidden;
    overflow: hidden;
}
div.cardSettingDelete, div.cardSettingOpen{
    margin: 0 auto;
    font-size: 18px;
}
div.cardPanelGlass{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}

div.cardPanel {
    position: absolute;
    top: 10%;
    left: 50%;
    translate: -50% 0;
    width: 50%;
    min-height: 80%;
    max-height: 80%;
    z-index: 60;
    display: none;
    cursor: default;
    border-radius: 10px;
    padding: 20px 30px;
    overflow-y: auto;
}

.closeCardPanel{
    position: absolute;
    font-size: 24px;
    padding: 5px 8px;
    border-radius: 50%;
    right: 5px;
    cursor: pointer;
}
.cardPanelTop{
    display: grid;
    grid-template-columns: 8% 85%;
}
.cardPanelTitle{
    padding: 5px;
    font-size: 26px;
    word-wrap: break-word;
    cursor: text;
}
.inList{
    grid-column: 1/span2;
    font-size: 16px;
    padding: 10px 60px;
}
.cardDescription{
    font-size: 20px;
    font-family: Arial;
    margin: 20px 20px;
    padding: 5px 10px;
    word-wrap: break-word;
    cursor: text;
    min-height: 300px;
}
button.saveDesc{
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 8px 13px;
    cursor: pointer;
    display: none;
}

/* =========================== delete items section ================================================ */

div.binContainer{
    position: fixed;
    width: 200px;
    height: 210px;
    right: -13%;
    bottom: 5%;
    display: block;
    transition: translate 0.5s, rotate 0.5s;
}
div.binImage{
    margin: 30px auto 0px auto;
    width: 90%;
    height: 90%;
    background-image: url("../images/closedBin.png");
    background-size: cover;
}