
body{
    margin: 0;
    background-color: #6fbac2;
    overflow: hidden;
}
.container{
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

/* slide bar */

.slideBar{
    height: 100%;
    width: 18%;
    overflow-x: hidden;
    transition: width 0.3s;
    float: left;
}
table.table1{
    margin: 5px;
    width: 100%;
}
.table1 td{
    padding: 5px;
    text-align: left;
}
.table1 td:nth-child(1){
    width: 45px;
}
.table1 td:nth-child(3){
    width: fit-content;
}
.wsImage{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
}
.wsName{
    word-wrap: break-word;
    width: 140px;
}
a.closeSlideBar{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
}
div.closeImg{
    background-size: cover;
    width: 100%;
    height: 100%;
}
hr{
    margin: 15px;
    border: none;
}
.table2{
    width: 100%;
    margin: 10px 0;
}
.table2 td{
    padding: 15px;
}
.yourBoarders{
    font-size: 20px;
    font-family: "Century Schoolbook";
}
a.addBoard{
    font-size: 26px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
table.boardsList{
    width: 100%;
}
table.boardsList td{
    display: grid;
    grid-template-columns: auto 15%;
    column-gap: 5px;
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
    font-family: Comic Sans MS;
    cursor: pointer;
}
table.boardsList td span.ellipseSpan{
    width: fit-content;
    border-radius: 10px;
    padding: 0 3px;
}
.closedBar{
    width: 15px;
    height: 100%;
    display: none;
    float: left;
}
a.openSlideBar{
    position: absolute;
    left: 7px;
    top: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
}
div.openImg{
    background-size: cover;
    width: 100%;
    height: 100%;
}

div.addBoardPlane{
    position: absolute;
    width: 35%;
    height: 40%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 20px;
    display: none;
    z-index: 15;
}
div.closeCreateBoardPanel{
    background-size: cover;
    position: absolute;
    right: 3px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div.addBoardPlane div.form{
    margin: 20px auto;
    padding: 15px 20px;
    width: 80%;
    box-sizing: border-box;
}
div.form input#boardNameInput{
    font-family: Arial;
    font-size: 18px;
    padding: 5px 10px;
    width: 80%;
}
div.form label{
    font-family: Arial;
    font-size: 18px;
}
div.form button{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
div.boardTemplateSection{
    display: grid;
    grid-template-columns: 50% auto;
}
div.form select#boardTemplate{
    width: fit-content;
    margin-left: 100px;
    padding: 5px 10px;
    font-size: 16px;
}
div.addBoardErrors{
    width: 90%;
    margin: 3px auto;
    font-size: 16px;
    text-align: center;
}
div.contextBoards{
    position: absolute;
    width: 170px;
    height: 250px;
    border-radius: 10px;
    display: none;
    transition: display 1s;
    display: flex;
    flex-direction: column;
}
div.contextBoards div{
    font-size: 16px;
    text-align: left;
    padding: 3px 20px;
    cursor: default;
    margin: 10px 0;
}
div.contextBoards hr{
    width: 100%;
    border: none;
    border-top: 1px solid;
    padding: 0;
    margin: 0;
}
div.boardRenamePane{
    position: absolute;
    top: 40%;
    left: 30%;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 35;
}
input#boardRenameInput{
    width: 200px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 2px;
}
div.renameBoardGlass{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: none;
    left: 0;
    top: 0;
}