@import "https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong";

body{
    margin: 0;
    background-color: #6fbac2;
    overflow: hidden;
}
.container{
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

/* slide bar */

.slideBar{
    background-color: #888;
    height: 100%;
    width: 18%;
    overflow-x: hidden;
    transition: width 0.3s;
    float: left;
}
table.table1{
    margin: 5px;
    width: 100%;
}
.table1 td{
    padding: 5px;
    text-align: left;
}
.table1 td:nth-child(1){
    width: 45px;
}
.table1 td:nth-child(3){
    width: fit-content;
}
.wsImage{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, blue, #5a78ff);
    border-radius: 5px;
    padding: 10px 15px;
}
.wsName{
    word-wrap: break-word;
    width: 140px;
}
a.closeSlideBar{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
}
a.closeSlideBar:hover{
    background-color: #666;
}
a.closeSlideBar:active{
    background-color: #555;
}
div.closeImg{
    background-image: url("../images/left.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}
hr{
    margin: 15px;
    border: none;
    border-top: 2px rgba(0, 0, 0, 0.4) solid;
}
.table2{
    width: 100%;
    margin: 10px 0;
}
.table2 td{
    padding: 15px;
}
.yourBoarders{
    font-size: 20px;
    font-family: "Century Schoolbook";
}
a.addBoard{
    font-size: 26px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
a.addBoard:hover{
    background-color: #666;
}
a.addBoard:active{
    background-color: #555;
}
table.boardsList{
    width: 100%;
}
table.boardsList td{
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    font-family: Comic Sans MS;
    cursor: pointer;
}
table.boardsList td:hover{
    background-color: #aaa;
}
.closedBar{
    width: 15px;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.4);
    border: 1px solid rgba(50, 50, 50, 0.8);
    display: none;
    float: left;
}
.closedBar:hover{
    background-color: rgba(100, 100, 100, 0.6);
}
a.openSlideBar{
    position: absolute;
    left: 7px;
    top: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(50,50,50,0.4);
    border-radius: 10px;
    visibility: hidden;
}
a.openSlideBar:hover{
    background-color: rgba(50,50,50,0.6);
}
div.openImg{
    background-image: url("../images/right.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* board space */

.lists{
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    height: 100%;
}
.topBar{
    height: 7%;
    background-color: rgba(255,255,255,0.2);
}
.flexBox{
    display: grid;
    grid-template-columns: min-content 260px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 84%;
    padding: 20px 0 0 0;
}
.listsContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-y: hidden;
    width: fit-content;
    height: 100%;
    padding: 0 30px;
}
.list{
    max-width: 280px;
    min-width: 280px;
    min-height: 100px;
    height: fit-content;
    background-color: #158888;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    overflow-y: auto;
}
.addList{
    max-width: 260px;
    min-width: 260px;
    height: fit-content;
    border: 1px solid rgba(40,40,40,0.4);
    border-radius: 10px;
    box-sizing: border-box;
}
table.addAnotherListTable{
    width: 100%;
    background-color: rgba(220, 220, 220, 0.6);
    cursor: pointer;
    border-radius: 10px;
    display: block;
}
table.addAnotherListTable:hover{
    background-color: rgba(220,220,220,0.7);
}
.addAnotherList{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.addSign{
    font-size: 30px;
    font-weight: bold;
}
form.addListForm{
    width: 100%;
    background-color: rgb(230,230,230);
    padding: 5px;
    display: none;
    box-sizing: border-box;
    border-radius: 10px;
}
input#listName{
    width: 100%;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
input#listName:focus{
    outline: none;
}
input#createList{
    padding: 5px 15px;
    color: white;
    background-color: #1e0d73;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
}
input#createList:hover{
    background-color: #2b188a;
}
img#closeCreateList{
    display: block;
    margin: 0 10px;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}
img#closeCreateList:hover{
    background-color: #bbb;
}
/** add card **/
.addCard{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
table.addAnotherCardTable{
    width: 100%;
    background-color: rgba(220, 220, 220, 0.3);
    cursor: pointer;
    border-radius: 5px;
    display: block;
    padding: 0 10px;
}
table.addAnotherCardTable:hover{
    background-color: rgba(220,220,220,0.5);
}
.addAnotherCard{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.addSign-card{
    font-size: 26px;
    font-weight: bold;
}
form.addCardForm{
    display: none;
    width: 100%;
    background-color: rgb(230,230,230);
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
input.cardName{
    width: 100%;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
input.cardName:focus{
    outline: none;
}
input.createCard{
    padding: 5px 15px;
    color: white;
    background-color: #2c1a8a;
    margin-top: 5px;
    font-size: 13px;
    cursor: pointer;
}
input.createCard:hover{
    background-color: #372691;
}
img.closeCreateCard{
    display: block;
    width: 20px;
    margin: 0 10px;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}
img.closeCreateCard:hover{
    background-color: #bbb;
}
div.listName{
    padding: 10px;
    font-size: 17px;
    font-family: "Comic Sans MS";
}
.cardsContainer{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    max-height: 450px;
    overflow-y: auto;
}
.card{
    background-color: #5a78ff;
    min-height: 50px;
    font-size: 14px;
    text-align: left;
    padding: 10px 10px 3px 30px;
    margin: 5px;
    border-radius: 5px;
}
.invisible{
    visibility: hidden;
}
p.boardNameTopBar{
    height: 100%;
    width: fit-content;
    font-size: 26px;
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 2px 50px;
    display: inline-block;
    color: #fff3a0;
}
div.addBoardPlane{
    position: absolute;
    width: 35%;
    height: 40%;
    background-color: rgba(100, 100, 100);
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 20px;
    display: none;
}
div.closeCreateBoardPanel{
    background-image: url("../images/close1.png");
    background-size: cover;
    position: absolute;
    right: 3px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
